/*FOR LINK DECORATION*/
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

/*HEADER*/
body {padding: 0; margin:0;}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

/*NAVIGATION BAR*/
.navbar{        /*Bar*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;       /*Always on top*/

    overflow: hidden;
    background-color: #FFFFFF;
}

.navbar a {     /*Elements*/
    float: right;
    text-align: center;
    padding: 10px;
	padding-top: 20px;
    font-size: 28px;
}

.navbar a.active {
    float: right;
    text-align: center;
    padding: 10px;
	padding-top: 20px;
    text-decoration: underline;
    font-size: 28px;
}

.navbar img.logo {
    float:left;
    text-align: center;
    font-size: 26px;
    padding-left: 5%;
	height: 80px;
}

/*HOMEPAGE*/
.main-column {
	padding-top: 50px;
    margin: 0 auto;
    width: 95%;
}

.main-column div.rowContainer {
	overflow:hidden;
	height:1%;
	width:100%;
	height:fit-content;
}

.main-column div div  {   
    position: relative;
	width: 49%;
	padding-top: 10px;
}

.main-column div img {   
    width: 100%;
    height: auto;
    opacity: 1;
}

.main-column div img.fade {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.main-column div img.fade:hover {
    cursor: pointer;

    opacity: 0.3;
    animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.main-column div a {     
    color: #000000;
	color: #FFFFFF;
    font-size: 26px;
}

.main-column div a.overlayed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/*ARTWORK PAGE*/
.pageTitle {
    margin: 0 auto;
    text-align: center;
    width: 30%;

    padding-top: 100px;
    color: #FFFFFF;
	font-size: 26px;
    text-decoration: underline;
}

.display-column {
    width: 49%;
    text-align: center;
}

.display-column div {   /*Image container*/
    padding-bottom: 50px;
    position: relative;
}

.display-column div img {   /*Actual image*/
    width: 100%;
    height: auto;
    opacity: 1;
}

.display-column div a {     /*Caption*/
    color: #000000;
	color: #FFFFFF;
    font-size: 20px;
}

/*ABOUT PAGE*/
.pageDescription {
    margin: 0 auto;
    text-align: center;
    width: 30%;

    padding-top: 20px;
    color: #FFFFFF;
	font-size: 12px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
	height: auto; 
	padding-top: 20px;
}

.illustrated_header {
	padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
	height: auto; 
}