/*HEADER*/
body {padding: 0; margin:0;}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

/*NAVIGATION BAR*/
.navbar{        /*Bar*/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;       /*Always on top*/

    overflow: hidden;
    background-color: #E0F3D4;
}

.navbar a {     /*Elements*/
    float: right;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.navbar a.active {
    float: right;
    text-align: center;
    padding: 10px;
    color: red;
    font-size: 22px;
}

.navbar a.title {
    float:left;
    text-align: center;
    font-size: 26px;
    padding-left: 5%;
}



/*DISPLAY COLUMNS*/
.main-column {
    padding-top: 70px;
    margin: 0 auto;
    width: 95%;
}

.display-column {
    width: 49%;
    text-align: center;
}

.display-column div {   /*Image container*/
    padding-bottom: 50px;
    position: relative;
}

.display-column div img {   /*Actual image*/
    width: 100%;
    height: auto;
    opacity: 1;
}

.display-column div img.fade {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.display-column div img.fade:hover {
    width: 100%;
    height: auto;
    cursor: pointer;

    opacity: 0.3;
    animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

.display-column div a {     /*Caption*/
    color: #000000;
    font-size: 26px;
}

.display-column div a.overlayed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/*PAGE TEXT*/
.pageTitle {
    margin: 0 auto;
    text-align: center;
    width: 30%;

    padding-top: 70px;
    font-size: 20px;
    text-decoration: underline;
}

.pageDescription {
    margin: 0 auto;
    text-align: center;
    width: 30%;

    padding-top: 20px;
    font-size: 14px;
    font-style: italic;
}
